/* ---------- Feuille de style pour Apprendre Julia ---------- */
:root {
    /*--primary-color: #3C79F5;*/
    --secondary-color: #F5F7FA;
    --text-color: #333;
    --muted-color: #666;
    /*--accent-color: #FF5449;*/
    --radius: 12px;
    --transition: 0.3s;

    /* Violets */
    --julia-purple-light: #B984CB;
    --julia-purple: #9558B2;
    --julia-purple-dark: #6C3F83;

    /* Verts */
    --julia-green-light: #56C547;
    --julia-green: #389826;
    --julia-green-dark: #246113;

    /* Rouges */
    --julia-red-light: #E56D64;
    --julia-red: #CB3C33;
    --julia-red-dark: #892922;

    /* Exemples codes */
    --prompt: #6d6dff;
    --language-julia: #50affc;
    --value: #df8600;
    --comment: #BBB;
    --bg-code: #ebecff;

    /*
    julia-purple : Titres
    julia-green : Liens, boutons d'actions
    julia-red : Avertissements, points importants

    bleus : exemple code julia

    light : fond par défaut, arrière-plan
    normal : principale, titre, clic
    dark : hover, focus, éléments intéractifs
    */
}

/* ----- GENERAL ----- */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--julia-purple-light);
  color: var(--text-color);
  line-height: 1.6;
}

div.layout {
  display: flex;
  flex: 1;
}


/* ----- ELEMENTS NAV ----- */
nav div.docs-logo {
  padding-top: 25px;
  text-align: center;
}

nav {
  background-color: #FFF;

  width: 300px;
  padding: 10px;
  border: solid 2px #DDD;
  border-radius: 25px;
  height: 100vh;
  overflow-y: auto;

  flex-shrink: 0;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
}

nav li {
  margin: 5px 0;
}

.submenu {
  display: none;
  padding-left: 15px;
}

.submenu a {
  display: block;
  padding: 3px 0;
  text-decoration: none;

}

.submenu a:hover {
  color: gold;
}

.toggle {
  cursor: pointer;
  font-weight: bold;
}

.docs-submenu li a {
  text-decoration: none;
}


/* ----- ELEMENT MAIN ----- */
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;

  flex: 1;
}


/* ----- CLASSE MAIN ----- */
.main {
  background-color: #fff;
  border-radius: var(--radius);
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
}

.main p {
  color: var(--muted-color);
}

.main ul li {
  margin-left: 1rem;
  color: var(--muted-color);
}


/* ----- CLASSE MINOR ----- */
.minor {
  gap: 1rem;
  background-color: #fff;
  border-radius: var(--radius);
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
}

.minor p {
  color: var(--muted-color);
}

.minor ul li {
  margin-left: 1rem;
  color: var(--muted-color);
}


/* ----- CLASSE SPAN.CODE ----- */
span.code {
  background-color: var(--bg-code);
  padding: 3px 6px 3px 6px;
  border-radius: 4px;
  color: var(--prompt);
  font-family: "Consolas";
}


/* ----- ELEMENT PRE / CODE ----- */
pre {
  border: solid 2px #DDD;
  border-radius: 8px;
  padding-left: 1rem;
}

pre code {
  font-family: "Consolas";
}


/* ----- CLASSES EXEMPLES CODES (PROMPT, LANGUAGE-JULIA, VALUE, COMMENT) ----- */
.prompt {
  color: var(--prompt);
}

.language-julia {
  color: var(--language-julia);
}

.value {
  color: var(--value);
}

.comment {
  color: var(--comment);
}

/* ----- ELEMENT TITRES (H*) ----- */
h1, h2 {
  color: var(--julia-purple)
}

/* ----- ELEMENT A ----- */
.main a, .minor a {
  color: var(--julia-green)
}

.main a:hover, .minor a:hover {
  color: var(--julia-green-dark)
}